<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--微信支付商户号-->
  <partner>1251208302</partner>
  <!--商户支付密钥，进入微信支付【账户设置】【API安全】设置-->
  <key>sd75huh8y854kfsvsSgty45jkw565jk6</key>
  <!--AppID(应用ID)-->
  <appid>wxdarte12b1c7dc769</appid>
  <!--AppSecret(应用密钥)-->
  <appsecret>7a1ag9eb76eab7fa7651fhaeb9be49fa</appsecret>
  <!--获取用户OPENID回调地址-->
  <redirect_url>/api/payment/wxapipay/redirect_url.aspx</redirect_url>
  <!--服务器通知的页面文件路径，不允许加?id=123这类自定义参数-->
  <notify_url>/api/payment/wxapipay/notify_url.aspx</notify_url>
</Root>