<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>forum</directory>
  <name>论坛</name>
  <author>Aitkon</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>0</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}forum_board(
	    [id] [int] IDENTITY(1,1) PRIMARY KEY,
        [boardname] [nvarchar](100),
        [parent_id] [int] NOT NULL DEFAULT ((0)),
        [class_list] [nvarchar](500),
        [class_layer] [int] NOT NULL DEFAULT ((0)),
        [sort_id] [int] NOT NULL DEFAULT ((0)),
        [img_url] [nvarchar](255),
        [content] [ntext],
        [is_lock] [int] NOT NULL DEFAULT ((0)),
        [allow_usergroupid_list] [nvarchar](255),
        [moderator_list] [nvarchar](255),
        [subject_count] [int] NOT NULL DEFAULT ((0)),
        [post_count] [int] NOT NULL DEFAULT ((0))
      )
      ]]></sql>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}forum_posts(
	    [id] [int] IDENTITY(1,1) PRIMARY KEY,
	    [board_id] [int] NOT NULL DEFAULT ((0)),
        [user_id] [int] NOT NULL DEFAULT ((0)),
        [user_ip] [nvarchar](50),
        [parent_post_id] [int] NOT NULL DEFAULT ((0)),
        [quote_id] [int] NOT NULL DEFAULT ((0)),
	    [title] [nvarchar](100),
        [zhaiyao] [nvarchar](255),
        [content] [ntext],
        [is_top] [tinyint] NOT NULL DEFAULT ((0)),
        [is_red] [tinyint] NOT NULL DEFAULT ((0)),
        [is_hot] [tinyint] NOT NULL DEFAULT ((0)),
        [is_lock] [int] NOT NULL DEFAULT ((0)),
        [click] [int] NOT NULL DEFAULT ((0)),
        [reply_count] [int] NOT NULL DEFAULT ((0)),
        [reply_user_id] [int] NOT NULL DEFAULT ((0)),
	    [add_time] [datetime] NOT NULL DEFAULT (getdate()),
	    [reply_time] [datetime],
	    [post_type] [int] NOT NULL DEFAULT ((0))
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}forum_posts</sql>
    <sql>Drop Table {databaseprefix}forum_board</sql>
  </uninstall>
  <urls>
    <rewrite name="forum" type="plugin" page="forum.aspx" inherit="CMS.Web.Plugin.Forum.board" templet="board.html">
      <item path="forum/board.aspx" pattern="forum/board.aspx" />
    </rewrite>
    <rewrite name="forumpostlist" type="plugin" page="forumpostlist.aspx" inherit="CMS.Web.Plugin.Forum.post_list" templet="post_list.html">
      <item path="forum/post_list/{0}.aspx" pattern="forum/post_list/(\d+).aspx" querystring="board_id=$1" />
      <item path="forum/post_list/{0}/{1}.aspx" pattern="forum/post_list/(\d+)/(\w+).aspx" querystring="board_id=$1^page=$2" />
    </rewrite>
    <rewrite name="forumpostpub" type="plugin" page="forumpostpub.aspx" inherit="CMS.Web.Plugin.Forum.post_pub" templet="post_pub.html">
      <item path="forum/post_pub/{0}/{1}/{2}.aspx" pattern="forum/post_pub/(\d+)/(\d+)/(\w+).aspx" querystring="board_id=$1^post_id=$2^action=$3" />
    </rewrite>
    <rewrite name="forumpostshow" type="plugin" page="forumpostshow.aspx" inherit="CMS.Web.Plugin.Forum.post_show" templet="post_show.html">
      <item path="forum/post_show/{0}.aspx" pattern="forum/post_show/(\d+).aspx" querystring="post_id=$1" />
      <item path="forum/post_show/{0}/{1}.aspx" pattern="forum/post_show/(\d+)/(\w+).aspx" querystring="post_id=$1^page=$2" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_forum" title="论坛管理" action="Show,View">
      <nav name="plugin_forum_board" title="版块" url="admin/board_list.aspx" action="Show,View,Add,Edit,Delete" />
    </nav>
  </menu>
</plugin>