<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>advert</directory>
  <name>广告管理</name>
  <author>JasenLee</author>
  <version>V4.0</version>
  <description>只适合V4.0版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}advert(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [title] [nvarchar](100),
	      [type] [tinyint] NOT NULL,
	      [price] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	      [remark] [nvarchar](255),
	      [view_num] [int] NOT NULL DEFAULT ((0)),
	      [view_width] [int] NOT NULL DEFAULT ((0)),
	      [view_height] [int] NOT NULL DEFAULT ((0)),
	      [target] [nvarchar](30),
	      [add_time] [datetime] DEFAULT (getdate())
      )
      ]]></sql>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}advert_banner(
	      [id] [int] IDENTITY(1,1) PRIMARY KEY,
	      [aid] [int] NOT NULL DEFAULT ((0)),
	      [title] [nvarchar](100),
	      [start_time] [datetime] NOT NULL,
	      [end_time] [datetime] NOT NULL,
	      [file_path] [nvarchar](255),
	      [link_url] [nvarchar](255),
	      [content] [ntext],
	      [sort_id] [int] NOT NULL DEFAULT ((99)),
	      [is_lock] [tinyint] NOT NULL DEFAULT ((0)),
	      [add_time] [datetime] NOT NULL DEFAULT (getdate())
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}advert_banner</sql>
    <sql>Drop Table {databaseprefix}advert</sql>
  </uninstall>
  <urls />
  <menu>
    <nav name="plugin_advert" title="广告管理" action="Show,View">
      <nav name="plugin_advert_adv" title="广告位管理" url="admin/index.aspx" action="Show,View,Add,Edit,Delete" />
      <nav name="plugin_advert_bar" title="广告内容管理" url="admin/bar_list.aspx" action="Show,View,Add,Edit,Delete" />
    </nav>
  </menu>
</plugin>