<hr class="invisible" />
<footer class="main bg-dark-img">
    <section class="widgets">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>关于我们</h4>
                    <p>重庆亿奇达网络科技有限公司致力于开发一套游戏货源电子交易平台，公司主营业务为游戏点卡，是公司程序设计和安全运营十分看重，让我们团结在一起一起努力吧！</p>
                </div>
                <div class="col-md-3 footer-qlink">
                    <h4>快速链接</h4>
                    <nav>
                        <ul>
                            <li><a href="/signproduct.html">产品服务</a></li>
                            <li><a href="/homeplan.html">套餐购买</a></li>
                            <li><a href="/news/54.html">新闻公告</a></li>
                            <li><a href="/helpamount.html">帮助信息</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 footer-blog">
                    <h4>联系我们</h4>
                    <ul class="media-list">
                        <li class="media">
                            <img class="pull-left media-object img-rounded" src="<%templateskin%>/img/rexian.png" alt="author" />
                            <div class="media-body">
                                <h5 class="media-heading" style="margin-top: 4px;">服务热线</h5>
                                <p>{site.tel}</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="pull-left media-object img-rounded" src="<%templateskin%>/img/weixin.png" alt="author" />
                            <div class="media-body">
                                <h5 class="media-heading" style="margin-top: 4px;">微信</h5>
                                <p>{site.email}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 footer-social">
                    <h4>关注亿奇达</h4>
                    <img src="<%templateskin%>/img/wei_b.png" class="index_wei" />
                </div>
            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="container">{site.copyright}</div>
    </section>
</footer>