<div class="footer">
    <div class="width-th footer-1">
        <div class="x3">
            <div class="x3-2">
                <h3>关于我们</h3>
                <p>重庆亿奇达网络科技有限公司致力于开发一套游戏货源电子交易平台，公司创办人为一名90后在校大学生，三年创业，成功带领了公司10多名员工一起奋斗至今！公司主营业务为游戏点卡，是公司程序设计和安全运营十分看重，因此公司长期招聘优秀程序员，让我们团结在一起一起努力吧！</p>
            </div>
        </div>
        <div class="x3 footer-link">
            <div class="x3-2">
                <h3>快速链接</h3>
                <ul>
                    <li><a href="<%linkurl(" signproduct")%>"">产品服务</a></li>
                    <li><a href="<%linkurl(" homeplan")%>">套餐购买</a></li>
                    <li><a href="<%linkurl(" news_list",54)%>">新闻公告</a></li>
                    <li><a href="<%linkurl(" helpamount")%>">帮助信息</a></li>
                </ul>
            </div>
        </div>
        <div class="x3 footer-contact">
            <div class="x3-2">
                <h3>联系我们</h3>
                <ul>
                    <li>
                        <img src="<%templateskin%>/img/rexian.png" class="fl" />
                        <div class="fl">
                            <h5>服务热线</h5>
                            <p>{site.tel}</p>
                        </div>
                    </li>
                    <li>
                        <img src="<%templateskin%>/img/weixin.png" class="fl" />
                        <div class="fl">
                            <h5>电子邮件</h5>
                            <p>{site.email}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="x3">
            <div class="x3-2">
                <h3>关注亿奇达</h3>
                <img src="<%templateskin%>/img/wei_b.png" />
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="width-th">{site.copyright}</div>
    </div>
</div>		