<%namespace "CMS.Model"%>
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8" />
    <title>{site.seo_title}</title>
    <meta name="keywords" content="{site.seo_keyword}" />
    <meta name="description" content="{site.seo_description}" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="<%templateskin%>/plugin/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%templateskin%>/plugin/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="<%templateskin%>/plugin/pretty-photo/css/prettyPhoto.css" />
    <link rel="stylesheet" href="<%templateskin%>/css/styleui.css" />
    <link rel="stylesheet" href="<%templateskin%>/plugin/animate.min.css" />
    <!-- / CSS Files -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%templateskin%>/js/html5shiv.js"></script>
    <script src="<%templateskin%>/js/respond.min.js"></script>
    <![endif]-->
    <script src="<%templateskin%>/plugin/jquery-1.10.2.min.js"></script>
    <script src="<%templateskin%>/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="<%templateskin%>/script/animate.js"></script>
    <script src="<%templateskin%>/plugin/jquery.cuteTime.min.js"></script>
    <script src="<%templateskin%>/script/script.js"></script>
</head>
<body>
    
    <%template src="_headerui.html"%>
	<script>SysNavnalSet(3);</script>
    
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>套餐购买</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index.htm">首页</a></li>
                        <li class="active">套餐购买</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <section class="content content-light">
        <div class="container">
			<!-- Profil create stage - dotted -->
            <h2 class="title-form">请选择服务套餐</h2>
        
            <div class="row plan-boxes" >				
				
				<%set CMS.Model.article ptPlan=GetPlan("putong")%>
				<div class="col-md-3">
                    <article class="thumbnail text-center">
                        <header class="bg-dark-img">
                            <h3 class="text-white">{ptPlan.title}</h3>
                            <p class="price-circle price-circle-green center-block"><span class="price-circle-bg"><span class="price-value">¥<%=ClearMoney({ptPlan.fields[sell_price]})%></span><small>年</small></span></p>
                        </header>
						<ul>											
							{ptPlan.content}
							<li class="button"><a href="javascript:;" onclick="BuyNow(this,'{ptPlan.id}')" class="btn btn-theme btn-green">立即购买</a></li>
						</ul>
                    </article>
                </div>
				
				<%set CMS.Model.article zyPlan=GetPlan("zhuanye")%>
				<div class="col-md-3">
                    <article class="thumbnail text-center">
                        <header class="bg-dark-img">
                            <h3 class="text-white">{zyPlan.title}</h3>
                            <p class="price-circle price-circle-orange center-block"><span class="price-circle-bg"><span class="price-value">¥<%=ClearMoney({zyPlan.fields[sell_price]})%></span><small>年</small></span></p>
                        </header>
						<ul>											
							{zyPlan.content}
							<li class="button"><a href="javascript:;" onclick="BuyNow(this,'{zyPlan.id}')" class="btn btn-theme btn-green">立即购买</a></li>
						</ul>
                    </article>
                </div>
                                
            </div>
        </div>        
    </section>
	<script>
	function BuyNow(obj,articleId){
		// 立即购买
		var buttonText = $(obj).text();
		var goodsId=0;
		var selectNum=1;
		var webpath='{config.webpath}';
		var linkurl='<%linkurl("shopping")%>';
		var jsondata = '[{"article_id":'+articleId+', "goods_id":'+goodsId+', "quantity":'+selectNum+'}]'; //结合商品参数
		$.ajax({
			type: "post",
			url: webpath + "tools/submit_ajax.ashx?action=cart_goods_buy",
			data: { "jsondata": jsondata },
			dataType: "json",
			beforeSend: function(XMLHttpRequest) {
				//发送前动作
				$(obj).prop("disabled",true).text("请稍候...");
			},
			success: function(data, textStatus) {
				if (data.status == 1) {
					location.href = linkurl;
				}else{
					alert("尝试加入购物清单失败，请重试！");
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				alert("状态：" + textStatus + "；出错提示：" + errorThrown);
			},
			complete: function (XMLHttpRequest, textStatus) {
				$(obj).prop("disabled",false).text(buttonText);
			},
			timeout: 20000
		});
		
		return false;
	}
	</script>
    
    <%template src="_footerui.html"%>
        
</body>
</html>